@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Global Tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation */
nav {
    position: fixed;
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: #FDC93B;
}


/* Home */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/back.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: #ffffff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: #ffffff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
}

#home button {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

#home button.blue {
    color: #ffffff;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home button.blue:hover {
    color: rgb(21, 21, 100);
    background: #ffffff;
}

#home button.yellow {
    color: #ffffff;
    background: #FDC93B;
    transition: 0.3s ease;
}

#home button.yellow:hover {
    color: rgb(21, 21, 100);
    background: #ffffff;
}


/* features */
#feature {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}
#feature .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;   
}

#feature .fea-box {
    background: #f9f9ff;
    text-align: start;
}

#feature .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#feature .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
}

#feature .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}

/* course */
#course {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;   
}

#course .courses {
    text-align: start;
    background: #f9f9ff;
    height: 100%;
    position: relative;
}

#course .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details {
    padding: 15px 15px 0 15px;
}

#course .courses .details i {
    color: #FDC93B;
    font-size: .9rem;
}

#course .courses .cost {
    background-color: rgb(74, 74, 136);
    color: #ffffff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}

/* registration */

#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,235,0.5)), url(images/signup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder {
    color: #fff;
}

#registration .reminder h1 {
    color: #fff;
}

#registration .reminder .time {
    display: flex;
    margin-top: 40px;
}

#registration .reminder .time .date {
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;
}

#registration .form {
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgba(84, 40, 241);
    outline: none;
}

#registration .form input::placeholder {
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#registration .form .btn {
    margin-top: 20px;
}

#registration .form button {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

#registration .form button.yellow {
    color: #fff;
    background: #FDC93B;
    transition: 0.3s ease;

}

#registration .form button.yellow:hover {
    color: rgb(21, 21, 100);
    background: #ffffff;
}

/* experts */

/* footer */

/* About */

/* Blog */

/* Course_inner */

/* contact */

/* responsive */

@media (max-width: 769px) {
}

@media (max-width: 475px) {
}
